body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-grow: 1;

}

#out {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

#in {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    color: #d011ed;
    font-size: 72px;
}

button {
    width: 60px;
    height: 40px;
}

#yes {
    background: lightseagreen;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

#yes:hover {
    background: green;
}

#no {
    position: absolute;
    background: red;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

#no:hover {
    background: #d10202;
}







/*last*/



#heart {
    position: relative;
}
#heart::before,
#heart::after {
    content: "";
    position: absolute;
    top: calc(-0.88375*var(--small));
    width: var(--size);
    height: calc(var(--size)*3/2);
    border-radius: var(--size) var(--size) 0 0;
    background: red;
}

#heart::before {
    left: calc(-1*var(--size)/2);
    transform: rotate(45deg);
    animation: alter-right var(--animation-duration) var(--animation-timing-function) infinite;
}

#heart::after {
    left: calc(-1*var(--size)/2);
    transform: rotate(-45deg); 
    animation: alter-left var(--animation-duration) var(--animation-timing-function) infinite; 
}

@keyframes alter-left {
    0% {
        width: var(--small);
        height: calc(var(--small)*3/2);
        border-radius: var(--small) var(--small) 0 0;
        left: calc(-1*var(--small)/2 - 1*var(--small)/5.656);
        top: calc(-0.88375*var(--small));
    }
    25% {
        width: var(--medium);
        height: calc(var(--medium)*3/2);
        border-radius: var(--medium) var(--medium) 0 0;
        left: calc(-1*var(--medium)/2 - 1*var(--medium)/5.656);
        top: calc(-0.88375*var(--medium));
    }
    50% {
        width: var(--large);
        height: calc(var(--large)*3/2);
        border-radius: var(--large) var(--large) 0 0;
        left: calc(-1*var(--large)/2 - 1*var(--large)/5.656);
        top: calc(-0.88375*var(--large));
    }
    75% {
        width: var(--medium);
        height: calc(var(--medium)*3/2);
        border-radius: var(--medium) var(--medium) 0 0;
        left: calc(-1*var(--medium)/2 - 1*var(--medium)/5.656);
        top: calc(-0.88375*var(--medium));
    }
    100% {
        width: var(--small);
        height: calc(var(--small)*3/2);
        border-radius: var(--small) var(--small) 0 0;
        left: calc(-1*var(--small)/2 - 1*var(--small)/5.656);
        top: calc(-0.88375*var(--small));
    }
}

@keyframes alter-right {
    0% {
        width: var(--small);
        height: calc(var(--small)*3/2);
        border-radius: var(--small) var(--small) 0 0;
        left: calc(-1*var(--small)/2 + var(--small)/5.656);
        top: calc(-0.88375*var(--small));
    }
    25% {
        width: var(--medium);
        height: calc(var(--medium)*3/2);
        border-radius: var(--medium) var(--medium) 0 0;
        left: calc(-1*var(--medium)/2 + var(--medium)/5.656);
        top: calc(-0.88375*var(--medium));
    }
    50% {
        width: var(--large);
        height: calc(var(--large)*3/2);
        border-radius: var(--large) var(--large) 0 0;
        left: calc(-1*var(--large)/2 + var(--large)/5.656);
        top: calc(-0.88375*var(--large));
    }
    75% {
        width: var(--medium);
        height: calc(var(--medium)*3/2);
        border-radius: var(--medium) var(--medium) 0 0;
        left: calc(-1*var(--medium)/2 + var(--medium)/5.656);
        top: calc(-0.88375*var(--medium));
    }
    100% {
        width: var(--small);
        height: calc(var(--small)*3/2);
        border-radius: var(--small) var(--small) 0 0;
        left: calc(-1*var(--small)/2 + var(--small)/5.656);
        top: calc(-0.88375*var(--small));
    }
}

@keyframes center-horizontally {
    0% {
        height: calc(var(--small)*2.121);
    }
    25% {
        height: calc(var(--medium)*2.121);
    }
    50% {
        height: calc(var(--large)*2.121);
    }
    75% {
        height: calc(var(--medium)*2.121);
    }
    100% {
        height: calc(var(--small)*2.121);
    }
}

:root {
    --size: 20rem;
    --small: 20rem;
    --medium: 21rem;
    --large: 22rem;
    --animation-duration: 1s;
    --animation-timing-function: ease-in-out;
}